<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/page2.css"/>
    <title>NGF.com || My page</title>
</head>

<body>

     <!-- navbar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #21295c;">
            <div class="container-fluid">
                <a href="#" class="navbar-brand text-light" style="font-size: 50px;">NGF</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-light" href="/page2">My Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-light" href="/page3">Workout</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" style="background-color: #74d3ae;"
                                data-bs-toggle="modal" data-bs-target="#get-started">Sign up / Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- navbar end -->

    <!-- title of page -->
    <header class="jumbotron text-center">
        <h1 class="display-3">Workout Schedule</h1>
        <p class="lead">A simple way to keep you workout Schedule organized</p>
        <p id="currentDay" class="lead"></p>
    </header>
    <!-- title of page end -->

    <!-- days of week planner -->

    <div class="container-fluid">
        <h1 class="text-center workWeek">Workout for the Week</h1>
        <div id="9am" class="row time-block p-3">
            <div class="hour col-md-1">Monday</div>
            <textarea name="text-area" id="text-area" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="10am" class="row time-block p-3">
            <div class="hour col-md-1">Tuesday</div>
            <textarea name="text-area" id="text-area-2" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="11am" class="row time-block p-3">
            <div class="hour col-md-1">Wednesday</div>
            <textarea name="text-area" id="text-area-3" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="12pm" class="row time-block p-3">
            <div class="hour col-md-1">Thursday</div>
            <textarea name="text-area" id="text-area-4" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="1pm" class="row time-block p-3">
            <div class="hour col-md-1">Friday</div>
            <textarea name="text-area" id="text-area-5" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="2pm" class="row time-block p-3">
            <div class="hour col-md-1">Saturday</div>
            <textarea name="text-area" id="text-area-6" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="3pm" class="row time-block p-3">
            <div class="hour col-md-1">Sunday</div>
            <textarea name="text-area" id="text-area-7" class="col-md-10 description" style="color: #FCF7F8;">
            </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
    </div>
    <!-- days of week planner end -->

     <!-- Measurements section -->
    <div class="container-fluid p-5">
        <h1 class="text-center workWeek">My Measurements</h1>
        <div id="height" class="row time-block p-3">
            <div class="hour col-md-1">Height</div>
            <textarea name="text-area" id="text-area-8" class="col-md-10 description" style="color: #FCF7F8;">
        </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="Weight" class="row time-block p-3">
            <div class="hour col-md-1">Weight</div>
            <textarea name="text-area" id="text-area-9" class="col-md-10 description" style="color: #FCF7F8;">
        </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="fat" class="row time-block p-3">
            <div class="hour col-md-1">Fat%:</div>
            <textarea name="text-area" id="text-area-10" class="col-md-10 description" style="color: #FCF7F8;">
        </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
        <div id="bmass" class="row time-block p-3">
            <div class="hour col-md-1">Body Mass:</div>
            <textarea name="text-area" id="text-area-11" class="col-md-10 description" style="color: #FCF7F8;">
        </textarea>
            <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
        </div>
    </div>
    <!-- Measurements section end-->

              <!-- Goals section -->
    <section>
        <div class="container-fluid p-5">
            <h1 class="text-center workWeek">My Goals</h1>
            <p class="p-2"><b>What is your goal for the week?</b></p>
            <div id="goal-week" class="row time-block p-3">
                <textarea name="text-area" id="text-area-12" class="col-md-10 description" style="color: #FCF7F8;">
                    type here...
                </textarea>
                <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
            </div>
            <p class="p-2"><b>Did you hit your previous goal?</b></p>
            <div id="prev-goal" class="row time-block p-3">
                <textarea name="text-area" id="text-area-13" class="col-md-10 description" style="color: #FCF7F8;">
                    type here...
                </textarea>
                <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
            </div>
            <p class="p-2"><b>What was your biggest challenge?</b></p>
            <div id="chall-goal" class="row time-block p-3">
                <textarea name="text-area" id="text-area-14" class="col-md-10 description" style="color: #FCF7F8;">
                    type here...
                </textarea>
                <button class="btn saveBtn col-md-1">Save<br /><i class="fas fa-save"></i></button>
            </div>
        </div>
    </section>
    <!-- Goals section end -->
        </div>
    </section>
    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="./assets/js/page2.js"></script>
</body>

</html>