<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/3bd2a2ff05.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- Bootsrap icon  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   <link rel="stylesheet" href="../public/assets/css/page1.css" />
    
    <title>This is meant to test any code</title>
</head>

<body>
    <div class="container-fluid">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #21295c;">
            <div class="container-fluid">
                <a href="#" class="navbar-brand text-light" style="font-size: 50px;">NGF</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-light" href="#about-us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-light" href="#contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" style="background-color: #74d3ae;" data-bs-toggle="modal"
                                data-bs-target="#get-started">Sign up / Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- navbar end -->

        <!-- hero section -->
        <div class="text-light" style="background-color: #2c2c32;">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-lg-4">
                        <h1>No Gear Fitness</h1>
                        <h3>"This workout puts the fear in no gear"</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, nam mollitia ipsum fugiat
                            soluta reiciendis nostrum repudiandae enim maxime ullam.</p>
                    </div>
                    <div class="col-lg-8">
                        <img class="mx-auto d-block rounded-circle img-fluid" src="https://cdn.wallpapersafari.com/81/8/EDdLRW.jpg" alt="image place holder">
                    </div>
                </div>
            </div>
        </div>
        <!-- hero section end -->

        <!-- pics and descrips -->
        <!-- item 1 -->
        <section id="about-us" class="p-5" style="background-color: #21295c;">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <img src="https://fittalk.com.au/wp-content/uploads/2018/06/body-weight-workout-routines.jpg" class="img-fluid rounded" alt="image placeholder">
                    </div>
                    <div class="col-md text-light">
                        <h1>Try it Out!</h1>
                        <p class="lead">NGF is a workout application that generates a desired workout for you, giving
                            you the best workout with no equipment</p>
                        <p>No time to plan for your workout, go to a local gym, have no fear "No Gear Fitness" has the
                            workout plan for you, tailer to fit the needs of your desired workout sign up and find your
                            desired workout today.</p>
                        <a href="https://youtu.be/uyFjMupI5B0" class="btn btn-primary my-3" style="background-color: #74d3ae;">
                            Watch Here
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- item 2 -->
        <section id="about-us" class="p-5 text-light" style="background-color: #FCF7F8;">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <h2 style="color: #21295c;">COVID-safe</h2>
                        <p class="lead" style="color: #21295c;">The COVID pandemic has changed our world in various ways
                            including how we maintain our healthy lifestyle.</p>
                        <p style="color: #21295c;">Being able to form connections with others, having a bond with others made from hours on end at the gym can now be online, even with no equpment the workouts NFG provides to our audience will have the same preformace as if your in your local gym</p>
                        <a href="#" class="btn btn-primary my-3" style="background-color: #74d3ae;">
                            Learn More
                        </a>
                    </div>
                    <div class="col-md">
                        <img src="https://sciencebehindfitness.com/wp-content/uploads/2020/09/rsz_264081-p4tdaq-890-min-1024x1024.jpg" class="img-fluid rounded" alt="image placeholder">
                    </div>
                </div>
            </div>
        </section>

        <!-- item 3 -->
        <section id="about-us" class="p-5" style="background-color: #FCF7F8;">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <img src="https://blog.meetingsigns.com/hubfs/BodyweightHomeWorkouts_Blog_Social1.jpg#keepProtocol" class="img-fluid rounded" alt="image placeholder">
                    </div>
                    <div class="col-md">
                        <h2 style="color: #21295c;">For all Ages</h2>
                        <p class="lead" style="color: #21295c;">Our workouts are age Frinedly ranging from children to young adults to the elderly providing a all age group style workout.</p>
                        <p style="color: #21295c;">Familes, friends, and neighbors can all experience NGF togehter for the best experience.</p>
                        <a href="#" class="btn btn-primary my-3" style="background-color: #74d3ae;">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- pics and descrips end -->

        <!-- cards -->
        <section class="p-5" style="background-color: #21295c;">
            <div class="container">
                <div class="row text-center g-4">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center" style="background-color: #FCF7F8;" >
                                <div class="h1 mb-3">
                                    <i class="bi bi-laptop" style="color: #21295c;"></i>
                                </div>
                                <h3 class="card-title mb-3" style="color: #21295c;">
                                    Mobile
                                </h3>
                                <p class="card-text" style="color: #21295c;">
                                    Bring your phone to plan your next workout on the go, we are mobile friendly no computer no worries.
                                </p>
                                <a href="#" class="btn btn-primary" style="background-color: #74d3ae;">Lean More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center" style="background-color: #FCF7F8;">
                                <div class="h1 mb-3">
                                    <i class="bi bi-pencil-square" style="color: #21295c;"></i>
                                </div>
                                <h3 class="card-title mb-3" style="color: #21295c;">
                                    Track Goals
                                </h3>
                                <p class="card-text" style="color: #21295c;">
                                    Keep track of your goals, and rebuild yourself going from flabs to abs. 
                                </p>
                                <a href="https://www.influencive.com/nine-effective-ways-to-track-your-progress-toward-a-goal/" class="btn btn-primary" style="background-color: #74d3ae;">Lean More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center" style="background-color: #FCF7F8;">
                                <div class="h1 mb-3">
                                    <i class="bi bi-book-half" style="color: #21295c;"></i>
                                </div>
                                <h3 class="card-title mb-3" style="color: #21295c;">
                                    Learn More
                                </h3>
                                <p class="card-text" style="color: #21295c;">
                                     Learn more about our way of working out learn, grow, and plan your next workout based on your body type.
                                </p>
                                <a href="https://www.everydayhealth.com/fitness/do-you-know-your-body-type/" class="btn btn-primary" style="background-color: #74d3ae;">Lean More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cards end -->

        <!-- getting started -->
        <section id="contact-us" class="p-5" style="background-color: #FCF7F8;">
            <div class="container" style="background-color: #FCF7F8;">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary text-uppercase fs-1" data-bs-toggle="modal"
                    data-bs-target="#get-started" type="button" style="background-color: #74d3ae; text-decoration:none;"><a href="/signup">Get Started</a></button>
                </div>
            </div>
        </section>
        <!-- getting started end -->

        <!-- contact us -->
        <section id="contact-us" class="p-5" style="background-color: #21295c;">
            <div class="container p-5" style="background-color: #FCF7F8;">
                <h1 class="text-dark text-center">Contact Us</h1>
                <form class="rule">
                    <div class="row g-3">
                        <div class="col-md-8 text-dark" id="contact-email">
                            <label for="email" class="form-label">Email:</label>
                            <input type="text" class="form-control" id="email" required>
                        </div>
                        <div class="col-md-8 text-dark">
                            <label for="name" class="form-label" id="contact-name">Name:</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="col-md-8 text-dark">
                            <label for="phone" class="form-label" id="contact-phone">Phone:</label>
                            <input type="text" class="form-control" id="phone">
                            
                        </div>
                    </div>
            </div>
            </form>
    </div>
    </section>
    <!-- contact us end -->


    <!-- Modal -->
    <div class="modal fade" id="get-started" tabindex="-1" aria-labelledby="get-startedLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="get-startedLabel">Log In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead text-dark"><b>Fill out form</b></p>
                    <form class="login-form">
                        <div class="mb-3">
                            <label for="username" class="col-form-label">
                                Username:
                            </label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="col-form-label">
                                Password:
                            </label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="modal-footer align-items-center">
                        <button type="submit"
                        class="btn btn-primary d-grid gap-2 col-6 mx-auto text-uppercase fs-4">Login</button>
                       </div>
                    </form>
                </div>
                
                <a href="/signup" class="text-center text-dark"><b>New User? Sign up</b></a>
            </div>
        </div>
    </div>
    </div>







    <script src="./assets/js/page1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>