:root {
    --white: #FCF7F8;
    --dark-blue: #21295C;
    --mint: #74D3AE;
  }

body {
    background-color:var(--dark-blue);
    color: var(--white);
    text-align: justify;
    font-family: 'Exo', sans-serif;
}


nav {
    background-color: var(--dark-blue);
    color:var(--white)
}

nav h1 {
    font-size:50px;
}

footer {
    background-color: var(--dark-blue);
    color:var(--white)
}

footer h1 {
    font-size:15px;
}